* {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	display: grid;
	grid-template-columns: 275px 1fr;
	width: 100%;
}
h1 {
	text-align: center;
}
.left-side {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	border: solid 3px;
	height: 100vh;
}

.profile-pic {
	align-items: center;
	justify-content: center;
	display: grid;
	border: solid 2px;
	grid-row: 1 / span 1;
}

.wallace {
	margin: auto;
	height: 100px;
	border-radius: 50%;
}

.emergency-contact {
	text-align: center;
	align-items: center;
	justify-content: center;
	display: grid;
	border: solid 2px;
	grid-row: 2 / span 1;
}

.medication {
	align-items: center;
	justify-content: center;
	display: grid;
	border: solid 2px;
	grid-row: 3 / span 1;
}

.physician {
	display: grid;
	align-items: center;
	justify-content: center;
	border: solid 2px;
	grid-row: 4 / span 1;
}

.ambulence {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: inline-flex;
	border: solid 2px;
	grid-row: 5 / span 1;
}

.right-side {
	display: grid;
	grid-template-rows: 200px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.current-day {
	text-align: center;
	display: grid;
	grid-column: 1 / span 2;
}

.ambulence-pic {
	height: 50px;
}

button {
	cursor: pointer;
}
.emergency-button {
	display: flex;
	margin: 10px;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	border: none;
	font-size: 20px;
}

.calendar {
	height: 200px;
	margin-left: 50px;
	grid-column: 3 / span 1;
}

.steps {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-column: 1 / span 1;
}

.minutes {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-column: 2 / span 1;
}

.bpm {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-column: 3 / span 1;
}

.circle {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Circle_-_black_simple.svg/500px-Circle_-_black_simple.svg.png');
	background-size: 150px;
	background-position: center; 
	background-repeat: no-repeat;
	height: 150px;
	width: 300px;
}

.circle-p {
	margin-left: 115px;
	margin-top: 60px;
}

.media {
	display: none;
}

.circle-heart {
	margin-left: 125px;
	margin-top: 60px;
}

.heart {
	background-image: url('./images/heart.svg');
	background-size: 150px;
	background-position: center; 
	background-repeat: no-repeat;
	height: 150px;
	width: 300px;
	height: 150px;
}

.step-chart {
	width: 400px;
	height: 400px;
	display: grid;
	grid-row: 3 / span 1;
}

.minute-chart {
	width: 400px;
	height: 400px;
	display: grid;
	grid-row: 3 / span 1;
}

.bpm-chart {
	width: 400px;
	height: 400px;
	display: grid;
	grid-row: 3 / span 1;
}

.chart {
	grid-row: 3 / span 1;
}

.title {
	font-size: 75px;
}

.title-body {
	margin-bottom: 50px;
}

@media screen and (max-width: 450px) {

.left-side, 
.profile-pic, 
.wallace, 
.emergency-contact, 
.medication, 
.physician, 
.ambulence, 
.right-side, 
.current-day, 
.ambulence-pic, 
.emergency-button, 
.calendar, 
.steps, 
.minutes, 
.bpm, 
.circle-p, 
.circle-heart, 
.heart, 
.minute-chart, 
.bpm-chart, 
.chart, 
.title, 
.title-body, 
.step-chart,
.circle {
	display: none;
}

button {
	cursor: pointer;
}

.media {
	font-size: 15px;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  } 

.media-buttons {
	display: inline-flex;
	width: 100%;
}

.goals, .profile {
	border: solid 3px;
	width: 50rem;
}
}